/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  

}

/* Color Variables */
:root {
    /* green scheme */
    --wintergreen-dream: #6b9080ff;
    --cambridge-blue: #a4c3b2ff;
    --light-cyan: #cce3deff;
    --mint-cream: #eaf4f4ff;
    --mint-cream-2: #f6fff8ff;

    /*gunmetal scheme*/
    --gunmetal: #022b3aff;
    --metallic-seaweed: #1f7a8cff;
    --beau-blue: #bfdbf7ff;
    --lavender-web: #e1e5f2ff;
    --white: #ffffffff;

    /* pink scheme */
    --pale-pink: #f7d1cdff;
    --queen-pink: #e8c2caff;
    --thistle: #d1b3c4ff;
    --glossy-grape: #b392acff;
    --old-lavender: #735d78ff;

    /* Current Scheme */
    --btn: var(--wintergreen-dream);  
    --background: var(--mint-cream-2);


}

body {
    background-color: var(--light-cyan);
    
}

.right-align {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar,
footer {
    background-color: var(--mint-cream);
}

footer {
    margin-top: 10px;
    height: 40px;
}

.btn-custom,
.btn-custom:hover {
    background-color: var(--btn);
    border: 1px solid var(--mint-cream);
}

