/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    /* border: 1px red solid; */

}

/* Color Variables */
:root {
    /* green scheme */
    --dark-green: #577568;
    --light-text: #F6F3F6;
    --dark-text: #18251e;
    --dark-alt: #513d51;
    --light-bg: #cce3deff;
    --light-head: #f6fff8;


    /* Current Scheme */
    --btn: var(--dark-green);  
 


}

body {
    background-color: var(--light-bg);
    font-family: 'Open Sans', sans-serif;
    
}

.right-align {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}

.left-align {
    text-align: left;
}

.name {
    color: var(--dark-alt);
}

.container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.nav-pills .nav-link.active,
 .nav-pills .show>.nav-link,
  {
    background-color: var(--dark-green);
    
}

.nav-link {
    color: var(--dark-text);
}

.nav-link:hover {
    color: var(--dark-alt);
}

h1,
p {
    color: var(--dark-text);
}



.hero-text {
    font-family: 'Cinzel Decorative', cursive;
}


.nav,
footer {
    background-color: var(--light-head);
}


footer {
    margin-top: 10px;
    height: 40px;
}

.btn-custom,
.btn-custom:hover {
    background-color: var(--btn);
    border: 1px solid var(--dark-alt);
}

.projects {
    background-color: var(--light-head);
}


/* 
========================================================================== 
Media Queries for Mobile and Tablet Views
========================================================================== 
*/

/* --------------------------- 768 and smaller screens */

@media screen and (max-width: 1023px){

/* nav bar */

    .nav-pills,
    .nav-link {
        padding: 0.5rem;
    }

    .fixed-top
    {
    position: relative;
    top: auto;
    }

/* col layout */

#aboutme .row {
    display: none;
}

}
